{% extends "myportfolio/myportfoliohome.html" %}
{% load myportfolio_tags %}

{% block title %}My portfolio{% endblock %}

{% block content %}
  <h1>Featured Projects</h1>
  <p>TBD</p>
  <p>TBD</p>
  <p>TBD</p>
  <p>TBD</p>
  <p>TBD</p>
  <h2>----------------------------</h2>
  <h1>My Projects as Public Repositories</h1>
  {% for repo in repos_data %}
    <h2>
      <a href="{{ repo.html_url }}" target="_blank">
        {{ repo.name }}
      </a>
      <h3>
        {{ repo.description }}
      </h3>
      <h5>
        Topics: {{ repo.topics }}
      </h5>
    </h2>
    <h2>----------------------------</h2>
    
  {% endfor %}
{% endblock %}