{% load myportfolio_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<div>
  <div class="stars"></div>
  <div class="twinkling"></div>
<head>
  <title>My Projects</title>
  <link href="{% static '../static/css/myportfolio.css' %}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
</head>
<body>
  <div class="topnav">
    <a href="https://chrishicks.herokuapp.com/">Home</a>
    <a href="https://chrishicks.herokuapp.com/myportfolio/about">About Me</a>
    <a href="https://chrishicks.herokuapp.com/myportfolio">Projects</a>
    <a href="https://github.com/ChrissHickss" target="_blank">Github Profile</a>
    <a href="https://public.tableau.com/app/profile/chrris.hicks" target="_blank">Tableau Public</a>
    <a href="https://www.linkedin.com/in/chrishickss/" target="_blank">LinkedIn Profile</a>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h5>At the top of this page you can find my featured projects and down below you will see all of my public repositories on GitHub and a brief description of each one along with the technologies used for that project. Click on the title to bring you to the repository. This was made possible by utilizing the GitHub API.</h5>
  </div>
</body>
</div>
</html>